@media screen and (min-width: 1280px) {

    .part3{
        margin-top: 200px;
        margin-bottom: 121px;
        box-sizing: border-box;
    }

    .part3 h1{
        padding: 0 121px 0 121px;
    }

    .card-program-list{
        margin-top: 95px;
        padding: 0 84px 0 84px;
    }

    .card-image{
        margin-top: -9px;
        width: 356px;
        height: 160px;
    }

    .cart-program {
        width: 356px;
        height: 328px;
        margin-right: 37px;
        margin-bottom: 72px;
        border-radius: 30px;
    }

    .cart-program-title{
        width: 100%;
        font-size: 30px;
    }

    .cart-program-subtitle{
        font-size: 25px;
    }

    .part3 h1{
        font-size: 55px;
    }

    .big-card-comment{
        font-size: 20px;
    }

    .big-card-title{
        font-size: 55px;
        margin-left: 122px;
        width: 100%;
    }
    
    .big-card{
        margin-left: 122px;
    }
}
    
