@media (min-width: 1280px) {
    .part6 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: black;
        color: white;
        padding: 50px 176px 45px 122px;

    }
    .sync_white {
        height: 68px;
    }
    .logos {
        display: flex;
        flex-direction: row;
        margin: 30px 0 0 0;
        padding: 0;
    }
    .contacts {
        padding-left: 0;
        margin: 0;
    }
    .contacts p {
        font-size: 25px;
        margin: 0 0 0 10px;
    }
    .phone {
        width: 27px;
    }
    .mail {
        width: 27px;
    }
    .insta {
        width: 33px;
    }
    .fb {
        width: 32px;
    }
    .vk {
        width: 35px;
    }
    .viber {
        width: 34px;
    }
    .part6 li {
        display: flex;
        flex-direction: row;
        margin: 0 8px 4px 0;
    }
    .last-item {
        margin: 146px 0 0 0;
        font-size: 18px;
    }
}