@media (min-width:1279px){

    .part1 {
        padding: 0 121px;
    }
    header {
        padding: 21px 121px 0;
    }
    .sync {
        width: 112px;
    }

    .part1 ul {
        display: flex;
        list-style: none;
        align-items: center;
        flex-direction: row;
        margin: 45px 0 0 0px;
        padding: 0 ;
    }

    .part1 ul img {
        margin-right: 5px;
        width: 22px;
        height: 21px;
    }

    .part1 p {
        font-size: 20px;
        font-weight: 400px;     
    }
    .part1 h1 {
        margin: 0;
        font-family: Roboto Slab;
        font-weight: 700;
        font-size: 80px;
        padding: 0;
        line-height: 101.38%;
    }

    .chair {
        display: flex;
        flex-direction: column;
        width: 364px;
        margin-left: 800px;
        margin-top: -240px;
    }
    .blue_quote {
        overflow: hidden;
        background-color: #1E4681;
        border-radius: 2.32986px;
        padding: 0;
        margin-left: 296px;
        width: 483.63px;
       height: 200.02px;
    }

    .blue_quote .text {
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 32.5px;
        margin: 9px 13px 0 12px; 
        color: #FFFFFF;
    }
    .blue_quote .name {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        text-align: right;
        margin: 8px 9px 13px 35px;
        color: #FFFFFF;    
    }

    .part2 h2{
        font-family: 'Roboto Slab';
        font-style: Bold;
        font-size: 55px;
        font-weight: 700px;
        line-height: 26px;
    }
    .part2 {
        padding: 0 121px;
    }
    .knowledge {
        margin: 0 0 55px 0;
        padding: 0 0 0 0;
    }
    .what{
        margin-bottom: 100px;
        font-size: 24px;
        line-height: 36px;
        margin: 0 0 230px 0;
        padding: 0 0 0 22px;
    }
    .about p {
        font-family: Roboto;
        font-weight: 400;
        font-size: 24px;
        line-height: 151.38%;
        width: 50%;
    }
    
    .camera {
        display: flex;
        flex-direction: column;
        margin: 20px 0 45px 20%;
       
    }

    .man2{
        z-index: 100;
        width: 364px;
        height: 364%;
        margin-left: 750px;
        margin-top: -410px;
    }
    
    .camera2 {
        display: flex;
        flex-direction: column;
    }
    .shadow2 {
        z-index: 1;
        margin-top: -35px;
        margin-left: 740px;
        width: 400px;
    }
    .man3{
        display: block;
        z-index: 30;
        width: 232px;
       height: 203px;
       margin-left: 10px;
       margin-top: 80px
    }
    .shadow3 {
        display: block;
        margin: -20px 0 0 45px;
        padding: 0;
        width: 189px;
    }
    .course-time{
        display: flex;
        flex-direction: row; 
        }
        .course-time ul{
            list-style-type: none;
            margin-left: 560px;
            margin-top: -90px;
        }
        .course-time .duration{
            font-family: Roboto;
            font-size: 25px;
            font-weight: 700;
            line-height: 25.6px;
            font-family: 'Roboto';
            width: 200px;

        }
        .course-time .duration1{
            font-family: Roboto;
            font-size: 18px;
            font-weight: 400;
            line-height: 13px;
            width: 258px;
      line-height: 130%;
      margin-top: 15px;
        }
    
    





}