@media (min-width: 1280px){
    .part5{
         padding: 100px;
    }
    .chead{
        width: 908px;
        font-size: 55px;
        line-height: normal;
    }
    .cost{
        font-size: 25px;
    }
    .value{
        font-size: 80px;
    }
    .part5 .p1{
        font-size: 25px;
    }
    .part5 .p2{
        width: 294px;
        font-size: 18px;
        font-weight: 400;
    }
    .list .li1, .li2{
        margin-right: 70px;
        width: 294px;
    }
    .lesson-list ul{
        display: flex;
        flex-direction: row;
    }
    .format {
        padding: 0;
    }
    .format h4{
        padding: 0;
        margin: 0;
    }
    .lesson p {
        width: 43%;
        line-break:normal;
        margin-bottom: 0 0 35px 0;
    }
    .lesson2 p{
        width: 43%;
        line-break:normal;
        margin-bottom: 0 0 35px 0;
    }
    .sentence2 {
        display: inline-block;
        width: 100%;
    }
    .lesson3 p {
        width: 49%;
        line-break:normal;
        margin-bottom: 0 0 35px 0;
    }
}
    