@media (min-width: 1280px){
    .part5{
        padding: 100px;
    }
    .chead{
        width: 908px;
        font-size: 55px;
        line-height: normal;
    }
    .cost{
        font-size: 25px;
    }
    .value{
        font-size: 80px;
    }
    .part5 .p1{
        font-size: 25px;
    }
    .part5 .p2{
        width: 294px;
        font-size: 18px;
        font-weight: 400;
    }
    .list .li1, .li2{
        margin-right: 70px;
        width: 294px;
    }
    .format {
        padding: 0 0 0 0;
    }

    .lesson p {
        line-break:normal;
        margin-bottom: 0 0 35px 0;
    }
    .lesson2 p{
        line-break:normal;
        margin-bottom: 0 0 35px 0;
    }
    .lesson3 p {
        line-break:normal;
        margin-bottom: 0 0 35px 0;
    }
    .lesson-list ul {
        margin: 0 0 225px 0;
    }
    .lesson-list .lp{
        font-size: 18px;
        line-height: 23.54px;
        margin: 0;
    }   
    .lesson-list .lhead{
        font-size: 25px;
        line-height: 10px;
    }
    .sentence21 {
        display: inline-block;
        width: 100%;
    }
    .sentence22 {
        display: inline-block;
        width: 100%;
    }
    .format h2{
        font-size: 55px;
        margin-bottom: 90px;
    }
    .format ul {
        flex-direction: row;
    }
    .format p {
        width: 100%;
        font-size: 12px;
    }
}
    