@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700&display=swap');
body{
    width: 100%;
    height: 100%;
}
.part5 {
    background-color: #9DC9C8;
    padding: 60px 35px;
}
.chead{
    width: 214px;
    font-size: 26px;
    font-weight: 700;
    font-family: Roboto Slab;
    line-height: 26.36px;
    margin-bottom: 35px;
}
.cost{
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    font-family: Roboto;
    
}
.value{
    font-size: 37px;
    margin-top: 0;
    font-weight: 400;
    font-family: Roboto ;
    margin-bottom: 35px;
    
}
.part5 ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.list .li1, .li2{
    width: 138px;
    font-family: Roboto;
    margin-right: 31px;
}

.list .li1{
margin-left: -37px;
}

.li2{
    margin-left: auto;
}
.part5 .p1{
   font-family: Roboto;
   font-size: 12px;
   margin-bottom: 5px;
   line-height:15px;
}
.part5 .p2{
   font-family: Roboto,sans-serif;
   font-size: 10px;
   line-height: 10px;
}
.part2{
    padding-left: 36px;
    padding-right: 31px;
}
.part2 h2{
    margin-top: 75px;
    font-family: Roboto Slab;
    font-style: Bold;
    font-size: 26px;
    line-height: 26px;
}
.part2 h4{
    color: #1E4681;
}
.course-time .duration {
    font-weight: 700;
    font-size: 12px;
    line-height: 130%;
}
.course-time ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}
.course-time li {
    margin-right: 33px;
}
.course-time .duration {
    margin: 0;
}
.course-time .duration1 {
    margin: 0 0 34px 0;
}
.what {
    font-size: 12px;
    line-height: 150%;
    padding: 0 0 0 15px;
}
.part2 p{
    font-family: Roboto;
    font-size: 12px;
    line-height: 18px;
}
.chair {
    display: flex;
    flex-direction: column;
    width: 142px;
    margin-left: 166px;
}
.camera {
    display: flex;
    flex-direction: column;
    margin: 20px 0 45px 20%;
}
.shadow2 {
    z-index: 1;
    margin-top: -15px;
    margin-left: 5px;
    width: 171px;
}
.man2{
    z-index: 100;
    width: 170.55px;
    height: 160.29px;
}
.course-time{
   display: flex;
   flex-direction: row;
}
.course-time ul{
    list-style-type: none;
}
.course-time .duration{
    font-family: Roboto;
    font-size: 12px;
    font-weight: 700;
    line-height: 15.6px;
}
.course-time .duration1{
    font-family: Roboto;
    font-size: 10px;
    font-weight: 400;
    line-height: 13px;
}
.format h4, p{
    padding: 0;
    margin: 0;
}
.format p {
    width: 66%;
    margin-bottom: 35px;
}
/* ----------------------------------------------- */
.part1 {
    padding: 0 35px 0 35px;
}
.part1 p {
    font-size: 10px;
}
.part1 ul img {
    margin-right: 5px;
}
.sync {
    width: 52px;
}
.part1 ul div {
    display: flex;
    flex-direction: row;
    margin: 0 15px 13px 0;
}
.part1 ul {
    display: flex;
    list-style: none;
    align-items: center;
    flex-direction: row;
    margin: 45px 0 0 0;
    padding: 0;
}
.part1 li p {
    margin: 0;
}
.part1 h1 {
    margin: 0;
    font-family: Roboto Slab;
    font-weight: 700;
    font-size: 37px;
    padding: 0;
    line-height: 101.38%;
}
.chair {
    display: flex;
    flex-direction: column;
    width: 142px;
    margin-left: 166px;
}
.man {
    z-index: 2;
}
.shadow {
    z-index: 1;
    margin-top: -10px;
}
.blue_quote {
    overflow: hidden;
    width: 225.36px;
    height: 93.19px;
    background-color: #1E4681;
    border-radius: 2.32986px;
    padding: 0;
    margin: 39px 0 0 0;
}
.blue_quote .text {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 130%;
    margin: 9px 13px 0 12px; 
    color: #FFFFFF;
}
.blue_quote .name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 130%;
    /* or 13px */
    text-align: right;
    margin: 0 9px 13px 0;
    color: #FFFFFF;    
}
/* -------------------------------------------------- */
.part3{
    clear: both;
    overflow: auto;
    padding: 0.01em 16px;
    margin-left: 15px;
    margin: auto;
    margin-bottom: 20px;
}
.cart-adapt {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap:wrap; 
}
.cart-program{
    max-height: 152.84px;
    margin: 20px;
    display: block;
    max-width: 185.92px;
    left: 95px;
    top: 3287px;
    border-radius: 13.9792px; 
    margin-top: 5px;
    margin-bottom: 4px;
    margin: 14px auto;
    float: left;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25); 
    margin-left: 85px; 
}
.cart-body{
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.cart-program-title{
    margin-top: -8px;
    width: 170.08px;
    margin-left: 5px;
    height: 33.08px;
    font-weight: 700;
    font-size: 14px;
    line-height: 97%;
}
.cart-program-subtitle{
    width: 170.08px;
    margin-top: -25px;
    margin-left: 5px;
    height: 29.36px;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
}
.part3 h1{
    height: 43.34px;
    margin-left: 26px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 101.38%;
    color: black;
}
.part4{
    width: 400px;
    height: 423px;
    left: -1px;
    background: #EFEFEF;

}
.big-card{
    width: 308px;
    height: 248px;
    background: #FFFFFF;
    box-shadow: 0.465972px 0.465972px 9.31944px rgba(0, 0, 0, 0.25);
    border-radius: 13.9792px;
    margin-left: 36px;

}
.big-card-comment{
    width: 266px;
    height: 111.01px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 150%;
    margin-left: 21px;
    padding-top: 18.47px;
    color: #000000;
}

.profile-photo{
    width: 80px;
    height: 84px;
    margin-left: 21px;
    margin-top: 13px;
}
.facebook-big-card{
    width: 14.91px;
    height: 17.2px;
    margin-left: 114.63px;
    margin-top: -40.54px;
}
.commenter{
    width: 164.49px;
    height: 14.73px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 101.38%;
    color: #000000;
    margin-left: 114.63px;
    margin-top: -70.74px;
}
.big-card-title{
    width: 257px;
    height: 69px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 101.38%;
    color: #000000;
    padding-top: 42px;
    margin-left: 36px;
}
/* ----------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body {
    font-family: Roboto;
}
header {
    padding: 36px 0 0 35px;
}
.syng_white {
    height: 32px;
}
.logos {
    display: flex;
    flex-direction: row;
    margin: 13px 0 0 0;
    padding: 0;
}
.contacts {
    padding-left: 0;
    margin-top: 47.66px;
}
.part6 {
    background-color: black;
    color: white;
    padding: 20px 38px;
}
.part6 li {
    display: flex;
    flex-direction: row;
    margin: 0 8px 4px 0;
}
.part6 li p {
    margin: 0 0 0 10px;
    font-size: 12px;
}
.last-item {
    margin: 49px 0 0 0;
    font-size: 10px;
}