@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700&display=swap');

.part5 {
    width: 100%;
    height: 54%;
    background-color: #9DC9C8;
    padding: 60px 35px;
}
.chead{
    width: 214px;
    font-size: 26px;
    font-weight: 700;
    font-family: Roboto Slab;
    line-height: 26.36px;
    margin-bottom: 35px;
}
.cost{
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    font-family: Roboto;
    
}
.value{
    font-size: 37px;
    margin-top: 0;
    font-weight: 400;
    font-family: Roboto ;
    margin-bottom: 35px;
    
}
.part5 ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
}

.list .li1, .li2{
    width: 138px;
    font-family: 'Roboto';
    margin-right: 31px;
}

.li2{
    margin-left: auto;
}
.part5 .p1{
   font-family: 'Roboto';
   font-size: 12px;
   margin-bottom: 5px;
   line-height: 101.38%;
}
.part5 .p2{
   font-family: 'Roboto',sans-serif;
   font-size: 10px;
   line-height: 101.38%;
}

/* ------------------------- */
.part2{
    padding: 0 36px;
}
.part2 h2{
    font-family: 'Roboto Slab';
    font-style: Bold;
    font-size: 26px;
    line-height: 26px;
}
.lesson-list{
    display: flex;
    margin: 0 0 80px 0;
}
.h2_format {
    margin: 0 0 0 0;
}
.lesson-list li {
    margin: 30px 0 0 0;
}
.lesson-list ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    /* display: inline-block; */
    padding: 0;
    margin: 0;
}
.lesson-list .lhead{
    color: #1E4681;
    font-size: 12px;
    font-weight: 700;
    line-height: 1px;
    font-family: 'Roboto';
}
.lesson-list .lp{
    margin: auto 0 0 0;
    font-size: 10px;
    font-weight: 400;
    line-height: 13px;
    font-family: 'Roboto';
}
.lesson, .lesson2, .lesson3{
    margin: 0;
    padding: 0;
}
.course-time .duration {
    font-weight: 700;
    font-size: 12px;
    line-height: 13px;
}
.course-time ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}
.course-time li {
    margin-right: 33px;
}
.course-time .duration {
    margin: 0;
}
.course-time .duration1 {
    margin: 0 0 34px 0;
}
.knowledge{
    font-size: 26px;
    font-weight: 700;
    margin: 0 0 25px 0;
    padding: 0 0 0 0;
}
.what {
    font-size: 12px;
    line-height: 150%;
    margin: 0 0 65px 0;
    padding: 0 0 0 15px;
}
.part2 p{
    font-family: Roboto;
    font-size: 12px;
    line-height: 18px;
}
.chair {
    display: flex;
    flex-direction: column;
    width: 142px;
    margin-left: 166px;
}
.camera {
    display: flex;
    flex-direction: column;
    margin: 20px 0 45px 20%;
}
.shadow2 {
    z-index: 1;
    margin-top: -15px;
    margin-left: 5px;
    width: 171px;
}
.man2{
    z-index: 100;
    width: 170.55px;
    height: 160.29px;
}
.camera2 {
    display: none;
}
.course-time{
   margin: 0 0 160px 0;
}
.course-time .duration{
    font-family: Roboto;
    font-size: 12px;
    font-weight: 700;
    line-height: 15.6px;
}
.course-time .duration1{
    font-family: Roboto;
    font-size: 10px;
    font-weight: 400;
    line-height: 13px;
}
span {
    display: inline-block;
    width: 100%;
}
/* ----------------------------------------------- */
.part1 {
    padding: 0 35px 0 35px;
}
.part1 p {
    font-size: 10px;
}
.part1 ul img {
    margin-right: 5px;
}
.sync {
    width: 52px;
}
.part1 ul div {
    display: flex;
    flex-direction: row;
    margin: 0 15px 13px 0;
}
.part1 ul {
    display: flex;
    list-style: none;
    align-items: center;
    flex-direction: row;
    margin: 45px 0 0 0;
    padding: 0;
    size: 20px;
}
.part1 li p {
    margin: 0;
}
.part1 h1 {
    margin: 0;
    font-family: Roboto Slab;
    font-weight: 700;
    font-size: 37px;
    padding: 0;
    line-height: 101.38%;
}
.chair {
    display: flex;
    flex-direction: column;
    width: 142px;
    margin-left: 166px;
}
.man {
    z-index: 2;
}
.shadow {
    z-index: 1;
    margin-top: -10px;
}
.blue_quote {
    overflow: hidden;
    width: 225.36px;
    height: 93.19px;
    background-color: #1E4681;
    border-radius: 2.32986px;
    padding: 0;
    margin: 39px 0 0 0;
}
.blue_quote .text {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 130%;
    margin: 9px 13px 0 12px; 
    color: #FFFFFF;
}
.blue_quote .name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 130%;
    /* or 13px */
    text-align: right;
    margin: 0 9px 13px 0;
    color: #FFFFFF;    
}

/* -------------------------------------------------- */
.part3{
    margin-top: 120px;
    margin-bottom: 52px;
    box-sizing: border-box;
}
.card-program-list{
    display: inline-block;
    justify-content: left;
    flex-flow: row wrap;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0 95px 0 95px;
}
.allcards {
    display: flex;
    justify-content: center;
    justify-self: center;
    width: fit-content;
}
.cart-program{
    border-radius: 13.9792px; 
    float: left;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25); 
    width: 185px;
    height: 152px;
    margin-right: 14px;
    margin-bottom: 28px;
}
.cart-body{
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.cart-program-title{
    margin-top: -8px;
    width: 170px;
    margin-left: 5px;
    height: 33.08px;
    font-weight: 700;
    font-size: 14px;
    line-height: 97%;
}
.cart-program-subtitle{
    width: 250.08px;
    margin-top: -25px;
    margin-left: 5px;
    height: 29.36px;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
}
.part3 h1{
    width: 600.7px;
    height: 43.34px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 101.38%;
    color: black;
    padding: 0 34px 0 34px;
}
.part4{
    width: 100%;
    padding-bottom: 40px;
    background: #EFEFEF;
}
.big-card{
    width: 40vw;
    min-width: 310px;
    background: #FFFFFF;
    box-shadow: 0.465972px 0.465972px 9.31944px rgba(0, 0, 0, 0.25);
    border-radius: 13.9792px;
    padding-bottom: 40px;
    padding-right: 30px;
    margin-left: 36px;
    min-width: 220px;
}
.big-card-comment{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    margin-left: 21px;
    padding-top: 18.47px;
    color: #000000;
}
.profile-photo{
    width: 80px;
    margin-left: 21px;
    margin-top: 13px;
}
.facebook-big-card{
    width: 14.91px;
    height: 17.2px;
    margin-left: 114.63px;
    margin-top: -40.54px;
}
.commenter{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 101.38%;
    color: #000000;
    margin-left: 114.63px;
    margin-top: -70.74px;
}
.big-card-title{
    width: 85%;
    height: 69px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 101.38%;
    color: #000000;
    padding-top: 42px;
    margin-left: 36px;
}

.card-image{
    margin-top: -20px;
    width: 185px;
    height: 94px;
}

/* ----------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body {
    font-family: Roboto;
}
header {
    padding: 36px 0 0 35px;
}
.sync_white {
    height: 32px;
}
.logos {
    display: flex;
    flex-direction: row;
    margin: 13px 0 0 0;
    padding: 0;
}
.contacts_mobile {
    padding-left: 0;
    margin-top: 48px;
}
.part6 {
    background-color: black;
    color: white;
    padding: 20px 38px;
}
.part6 li {
    display: flex;
    flex-direction: row;
    margin: 0 8px 10px 0;
}
.contacts_mobile p {
    margin: 0 0 0 10px;
    font-size: 12px;
}
.last-item {
    margin: 49px 0 0 0;
    font-size: 10px;
}
.kak span {
    display: none;
}
@media (min-width: 440px) {
    .chead{
        width: 500px;
    }
}
@media (max-width: 991px) {
    .contacts {
        display: none;
    }
    .course-time li:first-child {
        position: absolute;

    }
}
@media screen and (min-width: 396px) and (max-width: 992px) {
    .course-time ul {
        justify-content: space-evenly;
    }
}
@media screen and (min-width: 376px) and (max-width: 992px) {
    .chair {
        margin: 0 0 0 44vw;       
    }
    .blue_quote
    {
        margin: 39px 0 0 15vw;
    }
    .lesson-list ul{
        flex-direction: row;
    }
    .part1 ul p {
        font-size: 12px;
    }
    .camera {
        margin: 20px 0 45px 35%;
    }
    .kak p {
        font-size: 12px;
    }
    .kak span {
        display: none;
    }
    .big-card-comment 
    {
        font-size: 13px;
    }
}