@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body {
    font-family: Roboto;
}
header {
    padding: 120px 0 0 120px;
}
.logos {
    display: flex;
    flex-direction: row;
    margin: 10px 0 0 0;
    padding: 0;
}
.contacts {
    padding-left: 0;
    margin-top: 30px;
}
.part6 {
    background-color: black;
    color: white;
    padding: 20px 40px;
}
.part6 li {
    display: flex;
    flex-direction: row;
    margin: 0 8px 4px 0;
}
.part6 li p {
    margin: 0 0 0 10px;
    font-size: 12px;
}
.last-item {
    margin: 40px 0 0 0;
    font-size: 10px;
}
@media screen and (min-width:601px) and (max-width:767px) {
    body { 
        margin: 500px;
    }
}