.part1 hr{
    border: 4;
}

 .sync{
   width: 210px;
}
 @media screen and (min-width:601px)  and (max-width:767px){
    .part1 .sync{
    width: 720px;
    height: 800px;
} }
@media screen and (min-width:601px)  and (max-width:767px){

    .part1 .sync{
    width: 720px;
    height: 800px;
} }


.part1 ul {
    display: flex;
    list-style: none;
    margin-left: 35px;
    align-items: center;
    flex-direction: row;
}
.part1 li {
 display: flex;
 flex-direction: row;
 margin-left: 35px;
 font-size: 39px ;
 font-weight: 500;
 margin-bottom: 60px;
 margin-top: 99px;
 width: 470px;

}

.part1 ul img {
   
    width: 35px;
    margin-top: 30px;
    margin-left: 11px;
}

.part1 h1{
    font-weight: 700;
    size: 97px;
}