.part1 {
    padding: 0 35px 0 35px;
}
.part1 p {
    font-size: 10px;
}
.part1 ul img {
    margin-right: 5px;
}
.sync {
    width: 52px;
}
.part1 ul div {
    display: flex;
    flex-direction: row;
    margin: 0 15px 13px 0;
}
.part1 ul {
    display: flex;
    list-style: none;
    align-items: center;
    flex-direction: row;
    margin: 45px 0 0 0;
    padding: 0;
}
.part1 li p {
    margin: 0;
}
.part1 h1 {
    margin: 0;
    font-family: Roboto Slab;
    font-weight: 700;
    font-size: 37px;
    padding: 0;
    line-height: 101.38%;
}
@media screen and (min-width:601px)  and (max-width:767px){
    .part1 .sync {
    width: 720px;
    height: 800px;
}
}
@media screen and (min-width:601px)  and (max-width:767px){
    .part1 .sync {
    width: 720px;
    height: 800px;
}
}