.part5 {
    background-color: #9DC9C8;
    padding: 100px;
}
.chead{
    font-size: 30px;
}
.cost{
    font-size: 10px;
}
.value{
    font-size: 40px;
    margin-top: -8px;
    font-weight: 400px;
}
.part5 ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
.list{
    margin-left: -30px;
}
.p1{
}