@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
html,body {
    margin:0;
    padding:0;
    overflow-x:hidden;
}
body {
    font-family: Roboto;
}
header {
    padding: 120px 0 0 120px;
}
.part6 {
    background-color: black;
    color: white;
}
.part6 ul p {
    margin: 0;
}
.part6 li {
    display: flex;
    flex-direction: row;
}
@media screen and (min-width:601px) and (max-width:767px) {
    body { 
        margin: 100px;
    }
}