.part1{
    padding: 0 120px 0 120px;
}

.part1 hr{
    border: 4;
}

 .sync{
   width: 210px;
}
 @media screen and (min-width:601px)  and (max-width:767px){
    .part1 .sync{
    width: 720px;
    height: 800px;
} }
@media screen and (min-width:601px)  and (max-width:767px){

    .part1 .sync{
    width: 720px;
    height: 800px;
} }


.part1 ul {
    display: flex;
    list-style: none;
    margin-right: 33px;
    align-items: center;
    flex-direction: row;
    width: 400px;
    padding-right: 25px
    
}
.part1 .li p {
 display: flex;
 flex-direction: row;
 font-weight: 500;
 margin-top: 99px;
 width: 470px;
 flex-wrap: nowrap;
}

.part1 ul img {
   
    height: 35px;
    margin-top: 30px;
    margin-left: 11px;
}

.part1 h1{
    font-weight: 700;
    size: 97px;
}