@media (min-width: 992px){
    .part5{
        padding: 70px;
    }
    .chead{
        width: 500px;
        font-size: 32px;
        font-weight: 700;
        line-height: normal;
    }
    .cost{
        font-size: 14px;
    }
    .value{
        font-size: 46px;
        margin-bottom: 50px;
    }
    .part5 .p1{
        font-size: 14px;
        font-weight: 400;
    }
    .part5 .p2{
        width: 170px;
        font-size: 10x;
        font-weight: 400;
    }
    .list .li1, .li2{
        margin-right: 80px;
    }
   .format{
    padding-left:70px;
    }
    .format h2{
     font-size: 32px;
    }
     .knowledge{
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 37px;
    }
    .what{
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 50px;
    }
}
