@media only screen and (min-width: 992px) and (max-width: 1279px){

    .cart-program{   
    min-width: 231.09px;
    min-height: 189.97px;
    }
    .cart-body{
        width: 399px;
        height: 328px;
        left: 84px;
        top: 3434px;
        
    }
}