@media screen and (min-width: 992px) and (max-width: 1279px){

.cart-program{   
    min-width: 231.09px;
    min-height: 189.97px;
    margin-left: 35px;
    }
    .cart-program-title {
        font-size: 17px;
        line-height: 130%;

    }
    .card-image{
        width: 100%;
    }
    .cart-program-subtitle{
        font-size: 14px;
        line-height: 130%;
        
    }
}

