@media screen and (min-width: 992px) and (max-width: 1280px) {
    header{
        margin-left: 50px;
        margin-top: -10px;
    } 
    .part1 {
        width: 100%;
        margin-left: 50px;
        margin-top: -10px;   
    }
    .chair {
        display: flex;
        flex-direction: column;
        width: 21%;
        margin-left: 50%;
        margin-top: -128px;
    }
    .blue_quote {
        overflow: hidden;
        width: 275.11px;
        height: 115.83px;
        background-color: #1E4681;
        border-radius: 2.32986px;
        padding: 0;
        margin-left: 170px;    
    }
    .blue_quote .text {
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        margin: 9px 13px 0 12px; 
        color: #FFFFFF;
    }
    .blue_quote .name {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 130%;
    
        text-align: right;
        margin: 8px 9px 13px 35px;
        color: #FFFFFF;    
    }
    .part2{
        padding: 0 70px;
    }

    .part2 .about{
        flex-direction: column;
    }
    .part2 h2{
        font-family: Roboto Slab;
        font-style: Bold;
        font-size: 35px;
        line-height: 26px;
    }
    .part2 p{
        font-family: Roboto;
        font-size: 15px;
        line-height: 21px;
        width: 60%;
        
    }
    .camera {
        margin: -190px 0 0 170px;
    }

    .man2{
        z-index: 100;
        width: 190.55px;
        height: 190.29px;
        margin-left: 450px;
        margin-top: -10px;
    }

    .shadow2 {
        z-index: 1;
        width: 191px;
        margin-left: 450px;
        margin-top: -10px;
    }
    .camera2 {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
    .man3{
        z-index: 2;
        width: 135px;
       height: 203px;
    }
    .shadow3 {
        z-index: 1;
        margin: -52px 0 0 18px;
        width: 109px;
    }
    .about {
        display: flex;
        flex-direction: row;
        margin-right: 92px;
        width: 90%;
        margin-right: 25px;  
    }
    .course-time{
        display: flex;
        flex-direction: row;
        margin: 0 0 100px 0;
    }
    .course-time ul{
        display: flex;
        align-items: center;
        list-style-type: none;
        margin: 0 0 0 60px;
    }
    .course-time li {
        margin: 0 75px 0 0;
    }
    .course-time .duration{
        margin: 50px 0 0 0;
        font-family: Roboto;
        font-size: 12px;
        font-weight: 800;
        line-height: 30.6px;
    }
    .course-time .duration1{
        font-family: Roboto;
        font-size: 11px;
        font-weight: 400;
        line-height: 13px;
        width: 108px;
    }
    .format {
        margin: 0;
        padding: 0;
    }
    .format ul {
        flex-direction: row;
    }
    .h2_format {
        margin: 0 0 40px 0;
    }
}