@media (min-width: 991px){
    .part5{
        padding: 70px;
        width: 100%;
        height: 451.75px;
    }
    .chead{
        width: 500px;
        font-size: 32px;
        font-weight: 700;
        line-height: normal;
    }
    .cost{
        font-size: 14px;
    }
    .value{
        font-size: 46px;
        margin-bottom: 50px;
    }
    .part5 .p1{
        font-size: 14px;
        line-height: 14.19px;
        font-weight: 400;
    }
    .part5 .p2{
        font-size: 10x;
        line-height: 10.14px;
        font-weight: 400;
    }
    .list .li1, .li2{
        margin-right: 41px;
    }
    
}