@media (min-width: 992px){
    header{
        margin-left: 50px;
        margin-top: -10px;
    } 
    .part1 {
        width: 100%;
        margin-left: 50px;
        margin-top: -10px;   
    }
    .chair {
        display: flex;
        flex-direction: column;
        width: 21%;
        margin-left: 50%;
        margin-top: -128px;
    }
    .blue_quote {
        overflow: hidden;
        width: 270.11px;
        height: 115.83px;
        background-color: #1E4681;
        border-radius: 2.32986px;
        padding: 0;
        margin-left: 170px;    
    }
    .blue_quote .text {
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        margin: 9px 13px 0 12px; 
        color: #FFFFFF;
    }
    .blue_quote .name {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 130%;
        /* or 13px */
        text-align: right;
        margin: 8px 9px 13px 35px;
        color: #FFFFFF;    
    }
    .part2{
        padding: 0 70px;
    }
    .part2 h2{
        margin-top: 75px;
        font-family: Roboto Slab;
        font-style: Bold;
        font-size: 32px;
        line-height: 26px;
    }
    .part2 p{
        font-family: Roboto;
        font-size: 14px;
        line-height: 22px;
        width: 60%;
    }
    .camera {
        margin-top: -180px;
    }

    .man2{
        z-index: 100;
        width: 190.55px;
        height: 190.29px;
        margin-left: 450px;
        margin-top: -10px;
    }

    .shadow2 {
        z-index: 1;
        width: 191px;
        margin-left: 450px;
        margin-top: -10px;
    }
    .camera2 {
        display: block;
        margin-top: 20px;
    }
    .man3{
        z-index: 100;
        width: 182px;
       height: 203px;
    }
    .shadow3 {
        z-index: 1;
        margin-top: -65px;
        margin-left: -175px;
        width: 171px;
    }
    .about {
    display: flex;
    flex-direction: row;
    margin-right: 92px;
    width: 90%;
    margin-right: 25px;  
    }
    .course-time{
    display: flex;
    flex-direction: row; 
    margin-left: 300px;
    margin-top: -100px;
    }
    .course-time ul{
        list-style-type: none;
        margin-left: 60px;
    }
    .course-time .duration{
        font-family: Roboto;
        font-size: 12px;
        font-weight: 800;
        line-height: 30.6px;
    }
    .course-time .duration1{
        font-family: Roboto;
        font-size: 11px;
        font-weight: 400;
        line-height: 13px;
        width: 108px;
    }
}