@media screen and (min-width: 992px) and (max-width: 1280px) {
    .part6 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: black;
        color: white;
        padding: 29px 106px 27px 71px;
        
    }
    .sync_white {
        height: 40px;
    }
    .last-item {
        margin: 85px 0 0 0;
        font-size: 10px;
    }
    .logos {
        display: flex;
        flex-direction: row;
        margin: 30px 0 0 0;
        padding: 0;
    }
    .contacts {
        padding-left: 0;
        margin: 5px 0 0 0;
    }
    .contacts li {
        display: flex;
        flex-direction: row;
        margin: 0 0 15px 0;
    }
    .contacts_mobile {
        display: none;
    }
    .contacts p {
        font-size: 15px;
        margin: 0 0 0 22px;
    }
    .phone, .mail {
        width: 16px;
    }
    .insta {
        width: 20px;
    }
    .fb {
        width: 20px;
    }
    .vk {
        width: 21px;
    }
    .viber {
        width: 20px;
    }
    .last-item {
        font-size: 13px;
    }
}